.contenedor {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.busqueda {
    max-height: 40px;
}

.botonSearch {
    width: 250px;
    max-height: 40px;
    margin-left: 10px;
}